![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [19]:
import pandas as pd

crime = pd.read_csv(r".\datasets\US_Crime_Rates_1960_2014.csv")

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [2]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [20]:
crime["Year"].astype('int32')

'''when converting int to datetime, when the type of the data is int64 it will result in wrong parsing.
To avoid this, you need to convert int64 to int32 df.Year.astype('int32'). 
Then you can parse it as pd.to_datetime(df.Year, format = '%Y')
'''

crime["Year"] = pd.to_datetime(crime["Year"], format='%Y')

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [38]:
crime.set_index(keys="Year", inplace=True)

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [ ]:
crime.drop("Total", axis=1, inplace=True)

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [43]:
crime["Vehicle_Theft"].filter(items=['2014-01-01'], axis=0)

Year
2014-01-01    689527
Name: Vehicle_Theft, dtype: int64

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [52]:
crime["Murder"].sort_values(ascending=False)[:1]

Year
1991-01-01    24700
Name: Murder, dtype: int64

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [54]:
crime["Vehicle_Theft"].sort_values()[:1]

Year
1960-01-01    328200
Name: Vehicle_Theft, dtype: int64

**Parabéns! Você chegou ao fim**